/*Will add to this when content starts getting added to the page*/
body{ /*Place holder body CSS*/
    margin: 0;
    background-color: white;
    font-family: Arial, serif;
    font-size: 20px;
}
h1{
    font-size: 40px;
    margin: 5px;
}
h2{
    font-size: 30px;
    margin: 5px;
}
h3{
    font-size: 25px;
    margin: 5px;
}
/*CSS for the top nav bar any of the colours are just place holders*/
.topnav{ /*This is the CSS for the whole nav bar*/
    font-size: 80%;
    background-image: linear-gradient(to bottom right,#1b7ced, #10a8); /*colours a place holder but is a gradient from blue to light blue*/
    position: fixed;
    top: 0; /*puts the bar at the top*/
    width: 100%;
    /*overflow: hidden;*/
    transition-duration: 0.5s; /*The speed of which the element is changed (for this due to scroll down)*/
}
.topnav a{ /*This is the CSS for each button on the nav bar*/
    float: left;
    text-align: center;
    padding: 7px 7px; /*This can allow you to make each button bigger*/
    color: white;
    text-decoration: none;
    transition-duration: 0.2s; /*The speed of which the element is changed (for this due to hover)*/
}
.topnav a:hover, .dropbtn:hover{
    background-color: white;
    color: black;
}
.topnav a.active{ /*This is the CSS for the "active" button in the nav bar which should be the current page the user is on (change this in HTML)*/
    background-color: #000137;
    color: white;
}
.topnav a.active:hover{
    background-color: black;
    color: white;
}
.topnav img.logo{ /*the image with the class logo on the navbar goes to the far right*/
    float: right;
    height: 32px;
    transition-duration: 0.2s; /*The speed of which the element is changed (for this due to hover)*/
}
.topnav img.logo:hover{
    content: url("/images/logo/png/logo-no-background-black.png");
    background-color: white;
}

/*CSS for possible grid system to allow for a responsive design???*/
.item1 {
    grid-area: header;
    padding-top: 20px;
}
.item2 {
    grid-area: main;
    text-align: left;
}
.item3 {
    grid-area: right;
}
.item4 {
    grid-area: footer;
    background-color: #000137;
    width: 100%;
    bottom: 0;
}
img.item3 {
    width: 100%;
    max-width: 500px;
}

img.item1{ /*header image this does not work yet*/
    float: left;
    object-fit: contain;
    height: 100px;
}
/*different media queries allow for change in CSS and HTML (AKA small screen less seen) these can be changed using the grid-template-areas and making the items visibility hidden like below*/
@media screen and (min-width: 800px) { /*this is the grid CSS for a normal screen size*/
    .grid-container {
        width:100%;
        display: grid;
        grid-template-areas:
        'header header header header header header'
        'main main main main right right'
        'footer footer footer footer footer footer';
        gap: 5px;
        background-color: #2196F3;
        padding: 5px;
    }
    /*.item3{
        visibility: visible; /*encase it wasn't visible
    }*/
}
@media screen and (orientation: portrait) and (max-width: 799px) { /*for phone like screen (not tested on my phone yet)*/
    .grid-container {
        width:100%;
        display: grid;
        grid-template-areas:
        'header header header header header header'
        'main main main main main main'
        'right right right right right right'
        'footer footer footer footer footer footer';
        gap: 5px;
        background-color: #2196F3;
        padding: 5px;
    }
    /*.item3{ /*right is not displayed for this screen size
        display: none;
        visibility: hidden;
    } */
}
@media screen and (max-device-width: 799px) and (orientation: landscape) { /*for smaller screens*/
    .grid-container {
        width:100%;
        display: grid;
        grid-template-areas:
        'header header header header header header'
        'main main main main main main'
        'right right right right right right'
        'footer footer footer footer footer footer';
        gap: 10px;
        background-color: #2196F3;
        padding: 5px;
    }
    /*.item3{ /*right is not displayed for this screen size
        display: none;
        visibility: hidden;
    } */
}
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
}

/*sources.html CSS*/
.source-grid-container{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
    gap:10px;
    background-color: #2196F3;
    padding:10px;
}

.source-grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

label {
    float:left;
    clear: both;
    display: block;
}

input {
    display: block;
    clear:both;
}

textarea {
    clear: left;
    float: left;
    width: 50%;
    height: 100%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    font-family: Arial, serif;
    background-color: lightblue;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #000137;
    color: white;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    font-family: Arial, serif;
    text-align: left;
    padding: 0 5px;
    background-color: white;
    display: none;
    overflow: hidden;
    font-size: 20px;
}

/*Style for a dropdown menu*/
/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
    z-index: 1000;
}

/* Dropdown button */
.dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: Arial, serif; /* Important for vertical align on mobile phones */
    font-size: 100%;
    text-align: center;
    padding: 7px 7px;
    transition-duration: 0.2s;
}

.dropbtn:hover{
    background-color: white;
    color: black;
}

.dropbtn.active{
    background-color: #000137;
    color: white;
}

.dropbtn.active:hover{
    background-color: black;
    color: white;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 100%;
    transition-duration: 0.2s;
}

.dropdown-content a.active{
    color:white;
    background-color: #000137;
}

.dropdown-content a.active:hover{
    color:white;
    background-color: black;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/*related pages for advice and guidance*/
.related_page{
    width: 30%;
    background-color: lightblue;
    margin: 5px;
    align-content: center;
    float: left;
    transition-duration: 0.2s;
}

.related_page a{
    text-decoration: none;
}

.related_page img{
    height: 100%;
    width: 100%;
}

.related_page:hover{
    transition-duration: 0.2s;
    background-color: #2196F3;
}

@media screen and (min-width: 1130px) {
    .related_page_title {
        text-align: center;
        font-size: 22px;
        color: black;
        text-decoration: none;
        margin: 0;
        height: 75px;
        overflow: hidden;
        visibility: visible;
    }
}

@media screen and (max-width: 1129px) {
    .related_page_title {
        visibility: hidden;
        text-align: center;
        font-size: 0px;
        color: black;
        text-decoration: none;
        margin: 0;
        height: 0px;
    }
}

@media screen and (max-width: 800px) {
    .related_page_title {
        text-align: center;
        font-size: 22px;
        color: black;
        text-decoration: none;
        margin: 0;
        height: 75px;
        overflow: hidden;
        visibility: visible;
    }
}

/*tips for the advice_guidance.html page*/
.tips_ol{
    text-align: left;
    float: left;
}